[submodule "Iceberg/external/imgui"]
	path = Iceberg/external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Iceberg/external/glfw"]
	path = Iceberg/external/glfw
	url = https://github.com/glfw/glfw
